@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#left {
  background-image: url(/bg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  color: #f1f1e6;
}
#right{
  background-color: #f1f1e6;
  color :#334b49;
}
#right span {
font-weight: bold;
}
#right p{
  padding-block: 15px;
}