@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#left {
  background-image: url(/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  color: #d1cacf;
}
#right{
  background-color: #020d10;
  color :#d1cacf;
}
#right span {
font-weight: bold;
}
#right p{
  padding-block: 15px;
}